body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background: #f4f4f4;
}

.container {
    width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px 30px;
}

.category {
    color: #d9534f;
    font-weight: bold;
    margin-bottom: 5px;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

.meta {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-buttons button {
    background: #3b5998;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.lead {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

ul.related {
    margin-top: 10px;
    padding-left: 20px;
}

.flower-item {
    margin: 30px 0;
}

.flower-item img {
    max-width: 600px;
    margin: 15px auto;
    border-radius: 5px;
    display: block;
}

.flower-item h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #444;
}
.flower-item p{
    margin-top: 20px;
}

table td img {
    width: 180px;
    height: auto;
    border-radius: 6px;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 50px;
    text-align: center;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 120px;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 350px;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 200px;
    text-align: center;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 150px;
    text-align: center;
}
